#main_1_1 {
	height: 100px;
	background-image: url("../../images/2019zodiac/bg-red.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#main_2_1 {
	height: 500px;
	background-image: url("../../images/2019zodiac/bg-pink-s.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#bg-spark {
	background-image: url("../../images/2019zodiac/bg-spark-s.jpg");
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: cover;
}

#fs-position {
	margin-top: 20%;
}

#chart {
	margin-top: 10%;
	margin-bottom: 20%;
}


#bg-red {
	background-image: url("../../images/2019zodiac/bg-red.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#bg-red h4 {
	color: #FEC257;
}

/* seq => */
	.seq {
		position: relative;
		height: 100px;
		overflow: hidden;
		background: #a2a2a2;
	}

	.seq .seq-absolute {
		position: absolute;
	}

	.seq .seq-background {
		top: 0;
		left: 0;
		width: 100%;
	}

	.seq .seq-model-1-1,
	.seq .seq-model-2-1,
	.seq .seq-model-2-2 {
		max-height: 568px;
		width: 100%;
	}
/* <= seq */

@media (min-width: 576px) and (max-width: 767px){
	#main_2_1 {
		background-image: url("../../images/2019zodiac/bg-pink-m.jpg");
	}

	#bg-spark {
		background-image: url("../../images/2019zodiac/bg-spark-m.jpg");
	}
}

@media (min-width: 768px) and (max-width: 991px){
	#main_2_1 {
		background-image: url("../../images/2019zodiac/bg-pink-m.jpg");
	}

	#bg-spark {
		background-image: url("../../images/2019zodiac/bg-spark-m.jpg");
	}
}

@media (min-width: 992px) and (max-width: 1199px){
	#main_2_1 {
		background-image: url("../../images/2019zodiac/bg-pink-l.jpg");
	}

	#bg-spark {
		background-image: url("../../images/2019zodiac/bg-spark-l.jpg");
	}
}

@media (min-width: 1200px){
	#main_2_1 {
		background-image: url("../../images/2019zodiac/bg-pink-l.jpg");
	}

	#bg-spark {
		background-image: url("../../images/2019zodiac/bg-spark-l.jpg");
	}
}


